<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1571.1580.v18e46842c125">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4331.v9d06ed4658ff">
    <script>pipeline {
    agent any

    stages {
        stage(&apos;Ejecuciones en Paralelo&apos;) {
            parallel {
                
                stage(&apos;Stage Paralelo 1&apos;) {
                    steps {
                        echo &apos;Test 1&apos;
                
                    }
                }

                stage(&apos;Stage Paralelo 2&apos;) {
                    steps {
                        echo &apos;Test 2&apos;
                    }
                }
                
                stage(&apos;Stage Paralelo 3&apos;) {
                    steps {
                        echo &apos;Test 33&apos;
                    }
                }
                
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>